
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- These meta tags come first. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Add Plant</title>

    <!-- Include the CSS -->
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <link href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic" rel="stylesheet">

      <link href="{% static "assets/css/toolkit-inverse.css" %}" rel="stylesheet">
      <link href="{% static "assets/css/application.css" %}" rel="stylesheet">
      <link href="{% static "dist/toolkit.min.css" %}" rel="stylesheet">
      <style>
      .bord{
        border-color: blue;
        border-width: 2px;
      }
    </style>

  </head>
  <body>
   <nav class="iconav">
    <a class="iconav-brand" href="{% url 'UserLogin:home' %}">
      <span class="icon icon-leaf iconav-brand-icon"></span>
    </a>
    <div class="iconav-slider">
      <ul class="nav nav-pills iconav-nav flex-md-column">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'sensors:index' %}" title="Home" data-toggle="tooltip" data-placement="right" data-container="body">
            <span class="icon icon-home"></span>
            <small class="iconav-nav-label hidden-md-up">Home</small>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'sensors:addPlants' %}" title="Add Plants" data-toggle="tooltip" data-placement="right" data-container="body">
            <span class="icon icon-flower"></span>
            <small class="iconav-nav-label hidden-md-up"> Add Plants</small>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'sensors:macro' %}" title="Macrosensors" data-toggle="tooltip" data-placement="right" data-container="body">
            <span class="icon icon-drop"></span>
            <small class="iconav-nav-label hidden-md-up">Macrosensors</small>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'sensors:micro' %}" title="Microsensors" data-toggle="tooltip" data-placement="right" data-container="body">
            <span class="icon icon-area-graph"></span>
            <small class="iconav-nav-label hidden-md-up">Microsensors</small>
          </a>
        </li>
      <li class="nav-item">
          <a class="nav-link" href="{% url 'sensors:userprofile' %}" title="Signed in as {{ user.username}}" data-toggle="tooltip" data-placement="right" data-container="body">
             <span class="icon icon-user"></span>
            <small class="iconav-nav-label hidden-md-up">@mdo</small>
          </a>
          </li>
            <li class="nav-item">
          <a class="nav-link" href="{% url 'UserLogin:home' %}" title="Log Out" data-toggle="tooltip" data-placement="right" data-container="body">
            <span class="icon icon-log-out"></span>
            <small class="iconav-nav-label hidden-md-up">Log Out</small>
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <div class="dashhead">
      <div class="dashhead-titles">
        <h6 class="dashhead-subtitle">Water Management System</h6>
        <h3 class="dashhead-title">Add Plant</h3>
      </div>

      <br>
      <br>
      <br><br>
   <center>


<h1 class="display-3">Welcome To Add Plants Page {{ user.username }}</h1>
     <br>
  <p class="lead">Click the button below to add a plant to the system.</p>

       <button class="btn btn-lg btn-outline-success" onclick="myFunction()">Click me</button><h3 id="demo"></h3>
</center>
        <br><br>
      <center>
        <div id="map" style="display : none">

      <form action="{% url 'sensors:addPlants' %}" method="post">
        <input type="text" required autocomplete="off" placeholder="Name" name="name" />  <br><br>
        <input type="text" required autocomplete="off" placeholder="Latitude" name="lat" />  <br><br>
        <input type="text" required autocomplete="off" placeholder="Longitude" name="long" /><br><br>
        <button type="submit" class="btn btn-lg btn-outline-success">Submit</button>
        </div>
      </form>
      </center>
      <br><br>
    <!-- Include jQuery (required) and the JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src="{% static "assets/js/jquery.min.js" %}"></script>
    <script src="{% static "assets/js/tether.min.js" %}"></script>
       <script src="{% static "assets/js/chart.js" %}"></script>
    <script src="{% static "assets/js/tablesorter.min.js" %}"></script>
    <script src="{% static "assets/js/toolkit.js" %}"></script>
    <script src="{% static "assets/js/application.js" %}"></script>
    <script>
      // execute/clear BS loaders for docs
      $(function(){while(window.BS&&window.BS.loader&&window.BS.loader.length){(window.BS.loader.pop())()}})
    </script>
      <script>
function myFunction() {
    document.getElementById("demo").innerHTML = "<br><br>Enter the location co-ordinates of your Plant.";
    $("#map").css("display","block");
}
</script>
      <script>
        function divshow(){

        }
      </script>

  </body>
<!---
</html>